.card {
	max-width: 590px;
	max-height: 350px;
	overflow: hidden;
}
@media only screen and (max-width: 600px) {
	.card {
		width: 100%;
		overflow: hidden;
	}
}

.editer {
	max-height: 48px;
	overflow: hidden;
	padding-bottom: 0;
}