.listActivity {
	margin-top: 8px;
}
.wrapperSearch {
	width: 454px;
	margin-bottom: 5px;
}
.wrapper {
	width: 454px;
	display: flex;
}

.search {
	width: 100%;
	height: 32px;
}
@media (max-width: 454px) {
	.wrapper,
	.wrapperSearch {
		padding: 0;
		width: 100%;
	}
}
@media (max-width: 750px) {
	.search {
		padding: 0;
	}
}